<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'story3/style.css' %}">
<title>Achievement</title>
</head>
{% include 'mainapp/includes/_navbar.html' %}

<body style="font-family:Verdana;background-color:#9B989B;">

<div style="background-color:#333033;padding:15px;text-align:center;">
  <img src="https://i.ibb.co/VjSkWYy/Bla.jpg" alt="Group Photo" style="max-width:400px;">
  <div style="text-align:center; font-size:30px; color:white;">Me and My Friends</div>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="{% url 'story3index' %}">Profile</a>
    <a href="{% url 'story3achievement' %}">Achievement</a>
    <a href="{% url 'story3org' %}">Organization</a>
    <a href="{% url 'story3hobbies' %}">Hobbies</a>
  </div>
  <div class="main">
    <h2>Achievements</h2>
    <ol>
      <li>Participant of OSN Ilmu Komputer</li>
      <p>Got to go to Padang during the OSN 2017/2018. Went there with 2 other people from Jambi.</p>   
      <li>2<sup>nd</sup> place Debating competition High School Regional</li>
      <p>Went there with 2 other amazing people, Got carried tbh.
      </ol>
  </div>

  <div class="right">
    <h2>About</h2>
    <p>This is the place where you can find all you need to know about a guy named Lucky Susanto, all the basics at least.</p>
  </div>
</div>

<div style="background-color:black;text-align:right;padding:10px;margin-top:0px;"> <sub style="color:white;">Made by Lucky Susanto</sub></div>
{% include 'mainapp/includes/_footer.html' %}


</body>
</html>
