<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'story3/style.css' %}">
<title>Hobbies</title>
</head>
{% include 'mainapp/includes/_navbar.html' %}

<body style="font-family:Verdana;background-color:#9B989B;">

<div style="background-color:#333033;padding:15px;text-align:center;">
  <img src="https://i.ibb.co/VjSkWYy/Bla.jpg" alt="Group Photo" style="max-width:400px;">
  <div style="text-align:center; font-size:30px; color:white;">Me and My Friends</div>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="{% url 'story3index' %}">Profile</a>
    <a href="{% url 'story3achievement' %}">Achievement</a>
    <a href="{% url 'story3org' %}">Organization</a>
    <a href="{% url 'story3hobbies' %}">Hobbies</a>
  </div>

  <div class="main">
    <h2>Hobbies</h2>
    <ol>
      <li>Swimming</li>
      <p>Swimming is my favourite sport since I was young, doesn't mean I'm good at it though, just like it</p>   
      <li>Gaming</li>
      <p>Favourite Genre : RTS (Star Craft II) and RPG's (Final Fantasy & Kingdom Hearts)
      </ol>
  </div>

  <div class="right">
    <h2>About</h2>
    <p>This is the place where you can find all you need to know about a guy named Lucky Susanto, all the basics at least.</p>
  </div>
</div>

<div style="background-color:black;text-align:right;padding:10px;margin-top:0px;"> <sub style="color:white;">Made by Lucky Susanto</sub></div>
{% include 'mainapp/includes/_footer.html' %}

</body>
</html>
