<!DOCTYPE html>
<html>

   <head>
      <title>Story 1 : Profile</title>
   </head>
   {% include 'mainapp/includes/_navbar.html' %}

   <body style="background-color:#65146C; color:white">
        <center>
            <h1>Lucky Susanto<br>NPM:1906350534</h1>
            <img src="https://i.ibb.co/VjSkWYy/Bla.jpg" alt="Bla" border="0">
            <h5><i>Me and My Friends -2019</i></h5>
            <h2>Just A Random Student of University of Indonesia</h2>
            <h3>Angkatan 2019 - MAUNG</h3>
        </center>
        <h3><b><i>Academic Background :</i></b></h3>
        <ul>
            <li>TK  : TK Dharma Loka Pekanbaru</li>
            <li>SD  : SD Dharma Loka Pekanbaru (1-4) + SD Xaverius 2 Jambi (5-6)</li>
            <li>SMP : SMP Xaverius 1 Jambi</li>
            <li>SMA : SMA Xaverius 1 Jambi</li>
        </ul>
        <h3><b><i>About Me : </i></b></h3>
        <p style="font-size:18px">A guy who likes to play, procrastinate, and dream of many bizzare stuff that somehow ended up in UI.
            <br>I, <s>Giorno Giorvana</s> Lucky Susanto, <i>Yume Ga Aru</i>, To become an <s>Gangstar</s> Astronaut!
            <br>p.s, don't get too close when I'm sleepy.</p>

        <h2>Add me on <i>line</i>!</h2>
        <a href="https://ibb.co/g7x77Kh"><img src="https://i.ibb.co/27MXTJM/line-logo.png" alt="line-logo" border="0"></a>
        {% include 'mainapp/includes/_footer.html' %}
   </body>

</html>