<!DOCTYPE html>
<!-- Once you download the file, you can include bootstrap.min.css file in the <head> and bootstrap.min.js in <body>. Even if you are using the downloaded bootstrap file, you have to include jquery.min.js and popper.min.js before loading bootstrap.min.js -->
<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
		<title>Contact</title>
	    <style>
	      .themed-grid{
	      background-color:#e9ecef;
	      border : 1px bold dotted;
	    }

	      .themed-container{
	        background-color:tomato;
	      }

	      .bordered{
	      	border-style:solid;
	      	border-width:2px;
	      }
    </style>
	</head>
	<body>
		{% include 'mainapp/includes/_navbar.html' %}
		<div class="container text-center">
			<div class="row mb-3 themed-grid">
				<div class="col-md-4 order-md-2 bordered"><a href=""><img class="mx-auto d-block" style="padding: 30px 0;" src="{% static 'mainapp/line.jpg' %}"></a></div>
				<hr>
				<div class="col-md-8 display-1 order-md-1" style="padding-top:50px">Line</div>
			</div>
			<div class="row mb-3 themed-grid">
				<div class="col-md-4 order-md-2 bordered"><a href=""><img class="mx-auto d-block" style="padding: 30px 0;" src="{% static 'mainapp/linkedin.png' %}"></a></div>
				<hr>
				<div class="col-md-8 display-1 order-md-1" style="padding-top:50px">Linked In</div>
			</div>
			<div class="row mb-3 themed-grid">
				<div class="col-md-4 order-md-2 bordered"><a href=""><img class="mx-auto d-block" style="padding: 30px 0;" src="{% static 'mainapp/instagram.jpg' %}"></a></div>
				<hr>
				<div class="col-md-8 display-1 order-md-1" style="padding-top:50px">Instagram</div>
			</div>
			<div class="row mb-3 themed-grid">
				<div class="col-md-4 order-md-2 bordered"><a href=""><img class="mx-auto d-block" style="padding: 30px 0;" src="{% static 'mainapp/facebook.png' %}"></a></div>
				<hr>
				<div class="col-md-8 display-1 order-md-1" style="padding-top:50px">Facebook</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{% static 'mainapp/bootstrap.min.js' %}"></script>
		{% include 'mainapp/includes/_footer.html' %}
	</body>
</html>