<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cover</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/bootstrap.min.css' %}">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      /*
      * Globals
      */
      /* Links */
      a,
      a:focus,
      a:hover {
      color: #fff;
      }
      /* Custom default button */
      .btn-secondary,
      .btn-secondary:hover,
      .btn-secondary:focus {
      color: #333;
      text-shadow: none; /* Prevent inheritance from `body` */
      background-color: #fff;
      border: .05rem solid #fff;
      }
      /*
      * Base structure
      */
      html,
      body {
      height: 100%;
      background-color: #333;
      }

      body {
      display: -ms-flexbox;
      display: flex;
      color: #fff;
      text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
      }

      .cover-container {
      max-width: 42em;
      }


      /*
      * Header
      */
      .masthead {
      margin-bottom: 2rem;
      background-color:transparent;
      }

      .masthead-brand {
      margin-bottom: 0;
      }

      .nav-masthead .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
      }

      .nav-masthead .nav-link:hover,
      .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
      }

      .nav-masthead .nav-link + .nav-link {
      margin-left: 1rem;
      }

      .nav-masthead .active {
      color: #fff;
      border-bottom-color: #fff;
      }

      @media (min-width: 48em) {
      .masthead-brand {
      float: left;
      }
      .nav-masthead {
      float: right;
      }
      }


      /*
      * Cover
      */
      .cover {
      padding: 0 1.5rem;
      }
      .cover .btn-lg {
      padding: .75rem 1.25rem;
      font-weight: 700;
      }


      /*
      * Footer
      */
      .mastfoot {
      color: rgba(255, 255, 255, .5);
      }

.bgimg{
      background-image: url('{% static 'mainapp/cover2.jpg' %}');
      background-size: cover;
      background-repeat: no-repeat;
}
</style>



    <!-- Custom styles for this template -->
  <body class="text-center bgimg">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome To My Cover Page</h1>
        <p class="lead">Are You Ready?</p>
        <p class="lead">"You will learn what you will need to know about Lucky Susanto from this point forward"<p>
        <p class="lead">
          <a href="{% url 'index' %}" class="btn btn-lg btn-secondary">I'm Ready</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template obtained from <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'mainapp/bootstrap.min.js' %}"></script>
  </body>
</html>