<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/bootstrap.min.css' %}">
    <style>
      .themed-grid{
      background-color:#e9ecef;
      border : 1px bold dotted;
    }

      .themed-container{
        background-color:tomato;
      }
    </style>

  <body>
    <!-- Include _navbar here -->
    {% include 'mainapp/includes/_navbar.html' %}



    <!-- Jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <p>Welcome to my website! Here is where you can find what website I have made, who I am, my achievements, my hobby, my games recommendation, and many more! The website is very simplistic and minimalistic! You shouldn't be able to get lost at all!</p>
      <p>Oh! I almost forgot! The <strong>search box</strong> is still not working, just a place-holder right now!</p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-4 themed-grid"><img class="mx-auto d-block" style="padding: 30px 0;" src="{% static 'mainapp/profile.jpg' %}" ></div>
      <div class="col-md-8 themed-grid">
        <h1 class="display-1">Profile</h1>
        <hr>
        <p class="h4">My name is Lucky Susanto</p>
        <hr>
        <p class="h4">I was born in Jakarta, 14<sup>th</sup> of August 2001</p>
        <p class="h4">I am currently 19 years old</p>
        <hr>
        <p class="h4">Currently studying in University of Indonesia</p>
        <p class="h4">Faculty of Computer Science</p>
        <hr>
        <p class="h4">Born Traveler, have lived in Surabaya, Medan,</p>
        <p class="h4">Pekanbaru, Jambi, and lastly, returning to Jakarta (Depok)</p>
        <hr>
        <p class="h4">Get's grumpy if I'm sleepy, so, forgive me if I am ever sleepy</p>
        <hr>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-4 order-md-2 themed-grid">
        <div class="row mb-3">
          <img class="img-fluid mx-auto d-block" style="padding-top:30px;" src="{% static 'mainapp/achievement.jpg' %}">
        </div>
        <div class="row mb-3">
          <img class="img-fluid mx-auto d-block" src="{% static 'mainapp/debate.jpg' %}">
        </div>
      </div>
      <div class="col-md-8 order-md-1 themed-grid">
        <h1 class="display-1">Achievements</h1>
        <hr>
        <p>
          1. <b>Olimpiade Sains Nasional Komputer 2018</b><br>
          >>> <strong>Participant</strong>. Ended with rank 69 on national ranking (insert "Nice" here)<br>
          <hr>
          2. <b>Hongkong International Mathemathic Olympiad Eliminaries 2019</b><br> 
          >>> <strong>Silver medal</strong>. Choose to not continue to participate<br>
          <hr>
          3. <b>English Debating Competition 2018 (Team)</b><br>
          >>> <strong>2nd place</strong>. Got there with 2 amazing people.
          <hr>
        </p>
      </div>
    </div>
  </div>

    <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-4 themed-grid"><img style="padding-top:30px;" class="mx-auto d-block" src="{% static 'mainapp/Organization.jpg' %}" ></div>
      <div class="col-md-8 themed-grid">
        <h1 class="display-1">Organization</h1>
        <hr>
        <p class="h4">1. DUIUJ 2019</p>
        <p class="h4">Dari UI Untuk Jambi 2019</p>
        <p class="h4">Staff of English Debate Competition Division</p>
        <p class="h4">Started from mid 2019, ended December of 2019</p>
        <hr>
        <p class="h4">2. Educare 2020</p>
        <p class="h4">Staff of Seminar and Talkshow Divison</p>
        <p class="h4">Started from early February, still ongoing</p>
        <hr>
      </div>
    </div>
  </div>

    <!-- Include _footer here -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'mainapp/bootstrap.min.js' %}"></script>

    {% include 'mainapp/includes/_footer.html' %}
  </body>
</html>