<!DOCTYPE html>
<!-- Once you download the file, you can include bootstrap.min.css file in the <head> and bootstrap.min.js in <body>. Even if you are using the downloaded bootstrap file, you have to include jquery.min.js and popper.min.js before loading bootstrap.min.js -->
<html lang="en">
	<head>
		{% load static %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
		<title>Mata Kuliah</title>
	</head>
	<body>
		{% include 'mainapp/includes/_navbar.html' %}
		<table style="width:100%">
			<tr>
				<th>Mata Kuliah</th>
				<th>Dosen Pengajar</th>
				<th>Ruang</th>
				<th>Delete</th>
			</tr>
			{% for obj in object%}
			<tr>
				<td><a href="{% url 'detail' obj.id %}">{{obj.nama_matkul}}</a></td>
				<td>{{obj.dosen}}</td>
				<td>{{obj.ruang}}</td>
				<td><a href="{% url 'delete' obj.id %}"> <div style="font-size:24px">X</div> </a>
			</tr>
			{% endfor %}

		</table>



		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{% static 'mainapp/bootstrap.min.js' %}"></script>
		{% include 'mainapp/includes/_footer.html' %}
	</body>
</html>